{% extends 'RFP_templates/base.html' %}
{% block body %}
<style>
    .button-link {
    text-decoration: none;
    background-color: lightgreen;
    }

    .button-link:hover {
        background-color: green;
    }

    .button-link:active {
        background-color: grey;
    }
</style>
<div class="column-right">
    <div class="row">
        <div class="col-md-1 offset-md-1" style="margin-top: 30px; margin-right: 60px;">
            <img class="card" height="300px" width="300px" src="{{ pitch.image }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 offset-md-1" style="width: 450px; margin-top: 10px">
            <p>{{ pitch.name }}</p>
            <p>{{ pitch.address }}</p>
            <p>{{ pitch.phone_number }}</p>
        </div>
    </div>
    <form method="POST" style="text-align:start; margin: auto;">
        {% csrf_token %}
        <label for="{{ form.datetime.id_for_label }}" style="margin-right: 10px">Date and Time:</label>
        <br>
        <div>
            {{ form.datetime }}
        </div>
        <br>
        <div class="row" style="margin-top: auto; margin-bottom: 20px;">
            <div class="col-md-1" style="width: 40%; margin-top: 30px; margin-left: 20px">
                <a href="{% url 'RFP:reserve_pitch' %}" class="button button-link">Back</a>
            </div>
            <div class="col-md-2" style="width: 40%; margin-top: 30px; margin-left: auto;">
                <button type="submit" class="button">Create Reservation</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}