{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve pitch</title>
    <link rel="stylesheet" href="{% static 'RFP_static/detail.css' %}">
</head>
<body class="body">
    <div class="column-left">
        <a href="{% url 'RFP:start' %}" class="large-text">RFP</a>
        <ul class="navbar">
            <li class="navrow">
                <a class="navitem" href="{% url 'RFP:reserve_pitch' %}">Reserve a pitch</a>
            </li>
            <li class="navrow">
                <a class="navitem" href="">Friends</a>
            </li>
            <li class="navrow">
                <a class="navitem" href="">Shop</a>
            </li>
            <li class="navrow">
                <a class="navitem" href="{% url 'RFP:settings' %}">Settings</a>
            </li>
        </ul>
    </div>
    <div class="column-right">
        <ul>
            <li>
                <p>{{ pitch.name }}</p>
                <p>{{ pitch.address }}</p>
                <p>{{ pitch.phone_number }}</p>
            </li>
        </ul>
        <form action="{% url 'RFP:start' %}" method="get">
            <button type="submit" class="reserveButton">Reserve</button>
        </form>
        <form action="{% url 'RFP:reserve_pitch' %}" method="get">
            <button type="submit" class="backButton">Back</button>
        </form>
    </div>
    
</body>
</html>