{% extends 'RFP_templates/base.html' %}
{% block body %}
    <style>
        .text-center {
            text-align: center;
            margin-top: 100px;
        }

        .column-right form {
            display: inline-block;
            margin: 10px;
        }
    </style>
    <div class="column-right">
        <div class="text-center">
            <form action="{% url 'RFP:send_requests' %}" method="get">
                <button type="submit" class="button">Add Friends</button>
            </form> 
            <br>
            <form action="{% url 'RFP:see_friends_request' %}" method="get">
                <button type="submit" class="button">See Friends Requests</button>
            </form> 
            <br>
            <form action="{% url 'RFP:view_friends' %}" method="get">
                <button type="submit" class="button">See Friend List</button>
            </form>
        </div>
        <div class="row" style="margin-top: auto; margin-bottom: 10px; margin-left:10px">
            <form action="{% url 'RFP:start' %}" method="get">
                <button type="submit" class="button">Back</button>
            </form>
        </div> 
    </div>
{% endblock %}