{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'RFP_static/index.css' %}">
</head>
<body class="body">
    <div class="column-left">
        <a href="{% url 'RFP:start' %}" class="large-text">RFP</a>
        <ul class="navbar">
            <li class="navrow">
                <a class="navitem" href="{% url 'RFP:reserve_pitch' %}">Reserve a pitch</a>
            </li>
            <li class="navrow">
                <a class="navitem" href="">Friends</a>
            </li>
            <li class="navrow">
                <a class="navitem" href="">Shop</a>
            </li>
            <li class="navrow">
                <a class="navitem" href="{% url 'RFP:settings' %}">Settings</a>
            </li>
        </ul>
    </div>
    <div class="column-right">
        <div class="searchContainer">
            <input type="search" class="searchBar" placeholder="Add post...">
            <form method="post" action="{% url 'RFP:add_post' %}">
                {% csrf_token %}
                <button class="button" id="button" type="submit">Post</button>
            </form>
        </div>
        {% for post in posts %}
            <ul>
                <li>
                    <p>From: {{ post.from_user }}, at: {{ post.written_at }}</p>
                    <p>{{ post.message }}</p>
                </li>
            </ul>   
        {% endfor %}
    </div>
</body>
</html>