{% extends 'RFP_templates/base.html' %}
{% block body %}
    <div class="column-right">
        <form method="post" action="{% url 'RFP:add_post' %}">
            {% csrf_token %}
            <button class="button" id="button" type="submit">Create a Post</button>
        </form>
        <div class="scrollable-form">
            {% for post in posts %} 
            <div class="row card" style="width: 90%; margin: 20px;">
                <div class="col-md-1" style="margin-top: 10px; margin-right: 60px;">
                    <img class="profile-image" height="20px" width="20px" src="{{ post.image.url }}"/>
                </div>
                <div class="col-md-2 offset-md-1" style="width: 450px;">
                    <a href="{% url 'RFP:personal_info'  %}" class="username" style="font-size: 1.5em; margin-left:50px; text-decoration: none; color: inherit;">{{ post.from_user }}</a>
                    <p>{{ post.written_at }}</p>
                    <p>{{ post.message }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}