{% extends 'RFP_templates/base.html' %}
{% block body %}
    <div class="column-right">
        <form method="POST" style="text-align:start; margin: auto;">
            {% csrf_token %}
            <label for="{{ form.datetime.id_for_label }}" style="margin-right: 10px">Date and Time:</label>
            <br>
            <div>
                {{ form.datetime }}
            </div>
            <br>
            <button type="submit" class="button">Create Reservation</button>
        </form>
        <div class="row" style="margin-top: auto; margin-bottom: 10px; margin-left:10px">
            <form action="{% url 'RFP:reserve_pitch' %}" method="get">
                <button type="submit" class="button">Back</button>
            </form>
        </div> 
    </div>
{% endblock %}